
.content.light {
  color: var(--primary);
  background-color: #FFF;
}

@media screen and (min-width: 800px) {
  .content.light .about {
    width: 56rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: space-around;
}

.contact a.button {
  max-width: 150px;
  margin-top: 20px;
}

.content.light p.job {
  font-weight: 700;
  font-size: 2rem;
  text-shadow: none;
  color: var(--swiss-yellow);
}

.description {
  font-size: 18px;
}
